$primary-color: #1d3557;
$error-color: #e63946;
$bg-color: #f1faee;
$text-color: #293241;
$color-white: #fff;
$color-green: #8fffab;

$border-radius: 4px;

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.image_user {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}
.image-responsive {
    width: 100%;
    height: auto;
}

.container-login {
    .success-msg {
        color: $primary-color;
        background: $color-green;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
        border-radius: $border-radius;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
    h1 {
        font-size: 2rem;
        color: $text-color;
        margin-bottom: 2rem;
    }

    label,
    input {
        color: $text-color;
    }

    label {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    input {
        border: 1px solid rgba($primary-color, 0.8);
        border-radius: $border-radius;
        padding: 10px;
        padding-left: 1rem;
        font-size: 1rem;
        outline: none;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    .input-error {
        border-color: $error-color;
    }

    .error {
        color: $error-color;
        font-size: 1rem;
        margin-top: 0.3rem;
    }

    .disabled-btn {
        cursor: not-allowed;
        background: rgba($primary-color, 0.8);
    }
}

.container-form {
    border: 2px solid #d3d3d3;
    border-radius: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 1em;
    text-align: left;
    width: 600px;
}

.form {
    padding: 1em;
}

label {
    font-weight: 600;
}
